* {
  font-weight: bold;
}

#header {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

#setmemoTable {
  width: 100%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

#setmemoTable th {
  border: 0.5px solid black;
  text-align: center;
  padding: 4px;
}

#namesTable {
  width: 100%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

#namesTable thead tr th,
#namesTable tbody tr td {
  border: 0.5px solid black;
}

.rightAlign {
  text-align: end;
}

.indent {
  text-indent: 10px;
}

body {
  width: 90%;
  margin: auto;
  font-family: sans-serif;
}

#inputContainer {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  gap: 100px;
}

#mtsContainer,
#saContainer,
#btnsContainer {
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
}

.alignNames {
  display: flex;
  justify-content: space-between;
}

select {
  width: 250px;
  padding: 5px;
  border-radius: 5px;
}

select:hover {
  border: 1px solid green;
  outline: none;
}

button {
  width: 200px;
  padding: 5px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
  background-color: green;
  border-radius: 5px;
  color: white;
}

#tableContainer {
  display: none;
}

@media print {
  #inputContainer {
    display: none;
  }
  #tableContainer {
    display: block;
  }
  body {
    width: 100%;
    margin: auto;
  }
}
